.billImput {
    margin: 0;
    max-width: 70px;
    text-align: center;
}

.impDiv {
    padding: 0;
    margin: 0 0 0 5px;
    max-width: 70px;
}

.rowDiv {
    max-width: 310px;
}

.slashDiv {
    max-width: 30px;
}